@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}
:root{
    --color-bg:#113859;
    --color-bg-variant: #061A26;
    --color-primary-variant: #074973;
    --color-white:#f2f2f2;
    --color-light:#43AED9;
    --hover-color:#C04848;
    --footer-color:#F25E6B;

    --font-family:'Montserrat', sans-serif;

    --transition:all 400ms ease;

    --container-width-lg:100%;
    --container-width-md:100%;
    --container-width-sm:100%;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(180deg, #300030, #480048);
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    display: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-family);
}
.nav-ok{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nav_img>img{
    width: 64px;
    position: absolute;
}
#underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
#underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: var(--hover-color);
    height: 3.5px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10px;
  }
  #underline:hover:after,
  #underline:focus:after,
  #underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

.navbar{
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: space-between;
    padding-block: 15px;
}

.navbar a{
    text-decoration: none;
    color: inherit; 
}
.logo{
    margin-right: 50px;
}
.logo>img{
    width: 64px;
}
.list{
    margin-right: 20px;
    color: #f2f2f2;
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler,
.navbar label{
    display: none;
}
.hamburguerr{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: alll 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: whitesmoke;
    border-radius: 10px;
}
/*#####-----PRIMEIRA SEÇAO------######*/
.caixa{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 7vh;
}
.conteudo-1{
    color: var(--color-white);
    width: 50%;
    flex: 50%;
}
.conteudo-1>img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.514),0 17px 50px 0 rgba(0,0,0,0.19);
}
.conteudo-2{
    flex: 50%;
    padding-left: 2rem;
    padding-right:2rem ;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    width: 50%;
    font-family: var(--font-family);
}
.conteudo-2>h1{
    text-align: left;
    font-size: 2.5rem;
    padding-top: 1rem;
}
.conteudo-2>h2{
    text-align: left;
    font-size: 12px;
    color: var(--hover-color);
    font-weight: 200;
}
.conteudo-2>p{
    text-align: left;
    font-size: 0.9rem;
    padding-top: 1rem;
    font-weight: 400;
}
.conteudo-2-item-1{
    align-self: center;
}
.conteudo-2-item-2{
    align-self: center;
}
.conteudo-2-item-3{
    align-self: left;
    padding-top: 1rem;
}
  button {
    position: relative;
    display:block;
    height: 40px;
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: var(--color-bg-variant);
    border: 2px var(--color-bg-variant) solid;
    border-radius: 80px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  .botonis:before{
    position:relative;  
    content:"";
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
    opacity:0;
    -webkit-transition: all 350ms cubic-bezier(0.230, 0.320, 1.000, 1.000);
  }
  
  .botonis:after {
    content: "";
    position: absolute;
    background: var(--hover-color);
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -2;
    -webkit-transition: all 350ms cubic-bezier(0.230, 0.320, 1.000, 1.000); 
  }
  .botonis:hover{
    color:white;
    border: 0px var(--hover-color) solid;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .botonis:hover:before {
    opacity: .8;
  }
  .botonis:hover:after {
    right: 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  /*######------SEGUNDA SECAO------######*/
.colunitas{
    display: flex;
    margin-top: 10vh;
    margin-left: 19vh;
    margin-right: 19vh;
    margin-bottom: 10vh;
    flex-wrap: wrap;
}
.colun{
    display: flex;
    flex-direction: column;
    flex: 33.33%;
    padding: 5px;
}
.colun>img{
    width: 100%;
    height: auto;
}
.colun-item-1{
align-self: flex-start;
}
.colun-item-1>h1{
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 2.5rem;
    padding-top: 1rem;
}
.colun-item-1>h2{
    color: var(--hover-color);
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 12px;
    padding-top: 1rem;
}
.colun-item-1>p{
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1rem;
    padding-top: 1rem;
}
.colun>img{
    height: 250px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.aprox> img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.aprox:hover> img {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.514),0 17px 50px 0 rgba(0,0,0,0.19);
}
 /*######------TERCEIRA SECAO------######*/
.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;

}
.conteiner-on{
    display: flex;
    flex-direction: row;
    margin: 5vh;
}
.lado-esquerdo{
    background-color: #3321A6;
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 500px;
    border-radius:20px 0px 0px 20px;
}
.lado-esquerdo>h1{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 28px;
    padding-bottom: 1em;
    padding-left: 15px;
    padding-right: 15px;
}
.lado-esquerdo>p{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 0.5em;
    padding-left: 15px;
    padding-right: 15px;
}
.esquerdo-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.esquerdo-conteudo-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5vh;
}
.esquerdo-conteudo-item{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 200;
}
.esquerdo-conteudo-item>img{
    width: 30px;
    height: auto;
}
.esquerdo-conteudo-item>p{
    padding-left: 10px;
    font-size: 16px;
}
.lado-direito>h1{
    color: black;
    font-family: var(--font-family);
    font-size: 2rem;
}
.lado-direito{
    background-color: whitesmoke;
    width: 60%;
    display: flex;
    height: auto;
    flex-direction: column;
    border-radius:0px 20px 20px 0px;
}
.esquerdo-pe{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 15px;
}
.esquerdo-pe-ico{
}
.esquerdo-pe-ico>img{
    width: 30px;
}
.icones-form{
    display: flex;
}
.icones-form-bk >img{
    width: 32px;
    margin: 1px;
    padding: 5px;
}
.icones-form-bk{

}
.icones-form-bk> img {
    border-radius: 20%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
	transition: .3s ease-in-out;
    padding: 5px;
}
.icones-form-bk:hover> img {
    width: 35px;
    background-color: #C04848;
    border-radius: 50%;
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.514),0 17px 50px 0 rgba(0,0,0,0.19);
}
.form-elements{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.form-elements-stack{
    width: 50%;
    padding: 20px;
}

.form-elements-stack>input{
    color: rgba(54, 54, 54, 0.5);
    font-family: var(--font-family);
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 255, 0.233);
    width: 100%;
    height: auto;
}
.form-elements-stack:hover>input{
    color: black;
    font-family: var(--font-family);
    background-color: transparent;
    border-bottom: 1px solid rgb(0, 0, 255);
    width: 100%;
    height: auto;
}
.form-elements-stack>label{
    color: #0c46f285;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
}
.form-elements-stack:hover>label{
    color: #0C46F2;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
}
.form-elements-stack{
    display: flex;
    flex-direction: column;
}
.form-elements-chose{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}
.form-elements-chose>label{
    padding-left: 10px;
    color: #480048;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
}
.form-elements-chose>#vehicle1{
    height: 25px;
    width: 25px;
}
input[type="checkbox"]{
    appearance: none;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.1em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: rgb(0, 0, 255);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
#testando{
    border-radius: 50%;
    border-color: rgba(0, 0, 255, 0.295);
}
#testando:hover{

    border-color: rgb(0, 0, 255);
}
.form-elements-texto-chose{
    width: 100%;
}
.form-elements-2{
    display: flex;
    flex-direction: column;
}
.form-elements-2-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.form-elements-texto{
    color: black;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 20px;
}
 /*######------footer------######*/
 footer{
     background-color: var(--footer-color);
 }

 .footer-container{
     display: flex;
     justify-content: center;
     flex-direction: column;
 }
 .footer-item{
     align-self: center;
 }
 .footer-item>h1{
     color: var(--color-white);
     font-family: var(--font-family);
     font-size: 2rem;
     margin-top: 5vh;
 }
 .footer-item>p{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
.footer-item>img{
    width: 100%;
}
 .footer-icon{
     display: flex;
     justify-content: center;
 }
 .icones-footer{
     align-self: center;
     padding-left: 0.2em;
     padding-right: 0.2em;
     margin-bottom: 1em;
 }
 .icones-footer>img{
     width: 33px;
 }
 .icones-footer> img {
	-webkit-transform: scale(1);
	transform: scale(1);
    border-radius: 50%;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.icones-footer:hover> img {
	-webkit-transform: scale(1.02);
    border-radius: 50%;
	transform: scale(1.02);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.514),0 17px 50px 0 rgba(0,0,0,0.19);
}
.footer-end{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-self: center;
    border-top:dotted;
    border-color: var(--color-white);
    margin-bottom: 0.5em;
}
.footer-end-text>p{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 1rem;
    padding-top: 1em;
}
@media (max-width: 1024px) {
    .conteudo-1, .conteudo-2 {
        flex: 100%;
      }
      .caixa{
        height: fit-content;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        margin-left: 19vh;
        margin-right: 19vh;
        margin-top: 7vh;
        margin-bottom: 10px;
      }
      .conteudo-1{
          flex: 50%;
      }
      .conteudo-2{
          flex: 50%;
      }
      .caixa>img{
          width: 100%;
      }
      .colunitas{
        display: flex;
        margin-top: 10vh;
        margin-left: 19vh;
        margin-right: 19vh;
        margin-bottom: 10vh;
        flex-wrap: wrap;
      }
      .colun{
        display: flex;
        flex-direction: column;
        flex: 20%;
        padding: 5px;
      }
      .lado-esquerdo{
        height: auto;
    }
}
@media (max-width: 900px) {
    .colun>img{
        width: 100%;
        height: auto;
    }
    .conteudo-1, .conteudo-2 {
      flex: 50%;
    }
    .caixa{
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0vh;
        margin-right: 0vh;
        margin-top: 7vh;
        margin-bottom: 10px;
    }
    .caixa>img{
        width: 100%;
    }
    .colunitas{
        display: flex;
        margin-top: 2vh;
        margin-left: 0vh;
        margin-right: 0vh;
        margin-bottom: 2vh;
    }
    .colun{
        height: fit-content;
        display: flex;
        flex-direction: column;
        width:33.33%;
        padding: 5px;
    }
    .lado-esquerdo{
        height: auto;
    }
    .colun-item-1>h1{
        font-size: 1.4em;
    }
    .colun-item-1>p{
        font-size: 1em;
    }
  }
@media screen and (max-width: 600px) {
    .colun>img{
        width: 100%;
        height: auto;
    }
    .conteiner-on{
        display: flex;
        flex-direction: column;
    }
    .list{
        position: fixed;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        left: -100%;
        top: 70px;
        width: 100%;
        transition: 0.3s;
    }
    .list.active{
        left: 0;
        background-image: linear-gradient(180deg, #300030, #480048);
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    .conteudo-1, .conteudo-2 {
      flex: 100%;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 25px;
    }
    .caixa{
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0vh;
        margin-right: 0vh;
        margin-top: 7vh;
        margin-bottom: 10px;
    }
    .caixa>img{
        width: 100%;
    }
    .colunitas{
        display: flex;
        margin-top: 2vh;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 2vh;
        flex-direction: column;
    }
    .colun{
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
    }
    .colun>img{
        width: 100%;
        height: 350px;
    }
    .lado-esquerdo>h1{
        color: var(--color-white);
        font-family: var(--font-family);
        font-size: 18px;
        padding-bottom: 1em;
        padding-left: 15px;
        padding-right: 15px;
    }
    .lado-esquerdo>p{
        color: var(--color-white);
        font-family: var(--font-family);
        font-size: 12px;
        font-weight: 200;
        padding-bottom: 0.5em;
        padding-left: 15px;
        padding-right: 15px;
    }
    .lado-esquerdo{
        background-color: #3321A6;
        width:100%;
        display: flex;
        flex-direction: column;
        height: auto;
        border-radius: 20px 20px 0px 0px;
    }
    .container-contato{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .lado-direito{
        background-color: whitesmoke;
        width: 100%;
        display: flex;

        height:auto;
        margin-top: 0;
        border-radius:0px 0px 20px 20px;
        flex-direction: column;
    }
    .hamburguerr{
        display: block;
        margin-right: 25px;
    }
    .hamburguerr.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguerr.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg); 
    }
    .hamburguerr.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
  }