@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}
:root{
    --color-bg:#113859;
    --color-bg-variant: #061A26;
    --color-primary-variant: #074973;
    --color-white:#f2f2f2;
    --color-light:#43AED9;
    --hover-color:#C04848;
    --footer-color:rgba(10, 14, 61, 0.9);

    --font-family:'Montserrat', sans-serif;

    --transition:all 400ms ease;

    --container-width-lg:100%;
    --container-width-md:100%;
    --container-width-sm:100%;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image:linear-gradient(to bottom right, #300030, #480048);
    display: flex;
    flex-direction: column;
}
footer{
    width: 100%;
    display: flex;
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    background-color: var(--footer-color);
}
#footer-class{
    color: var(--color-white);
    font-family: var(--font-family);
}
::-webkit-scrollbar{
    display: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-family);
}
.navbar{

      display: flex;
      justify-content: space-between;
      align-items: baseline;
      height: 50px;
      align-items: center;
  }
.nav-lista{
    list-style: none;
    width: 100%;
    display: flex;

}
.nav-lista,.lista{
    justify-content: flex-end;
    padding-right: 2.5em;
}
.icon-primeiro{
    height: 45px;
}

#underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
#underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: var(--hover-color);
    height: 3.5px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    border-radius: 10px;
  }
  #underline:hover:after,
  #underline:focus:after,
  #underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

.footer{
    background-color: var(--footer-color);
    border-top: 1px black solid;
    margin-top: 10px;
    padding-top: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*#####-----PRIMEIRA SEÇAO------######*/
.caixa{
    display: flex;justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 450px;
}
.conteudo-1{
    color: var(--color-white);
    width: 50%;
}
.conteudo-1>img{
    width: 100%;
    height: 450px;
    border-radius: 15px;
}
.conteudo-2{

    color: var(--color-white);
    width: 50%;
    font-family: var(--font-family);
}
.conteudo-2>h1{

    text-align: center;
}
/*menu mobile*/
@media al and (max-width: 600px){
.menu{
    display: block;
}
}
/* ###Media queries##*/
@media screen and ( max-width: 1024px ) {
    .container {
        width: var(--container-width-md);
    }
    section {
        margin-top: 6rem;
    }
}

/*########## -- Resposividade (mobile) -- ############*/
@media screen and ( max-width: 600px ) {
    .container{
        margin-top:20em;
        
    }

    .flex-container-1{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-image: transparent;
        margin: 1em;
        height: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    .flex-item > p,
.flex-item > h1{
   margin-left: 20px;
   padding-left: 0;
   padding-right: 0;
   font-family: 'Montserrat', sans-serif;
   color: var(--color-white);
   margin-bottom: 50px;
   padding-bottom: 50px;
}
.navbar{
    width: 100%;
    flex-direction: column;
    position: relative;
}

.menu{
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}
.menu:hover > .menu-line{
   background-color: #F07241;
   border-radius: 10px;
}
.nav-lista{
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-right: 0px;
}
ul .nav-lista{
    padding-right: 0;
}
.lista{
    padding: 10px;
}
a:hover{
    color: #F07241;
}
.nav-lista .lista{
    width: 100%;
    padding-right: 0px;
    border: 0.3px solid rgba(255, 255, 255, 0.11);
    background-color: #300030;
}
.icon-primeiro{
    margin-top: 10px;
    margin-left: 0px;
}


}