@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Share+Tech+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}
:root{
    --bg-color:#010440;


    --font-family-one:'Rajdhani', sans-serif;
    --font-family-two:'Share Tech Mono', monospace;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #480048;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    display: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: space-between;
}
.nav-logo>img{
    width: 34px;
}
.nav-list{
    display: flex;
}
.nav-list-child{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.nav-list-child>li{
    padding-right: 5px;
    padding-left: 5px;
    color: black;
    font-family: var(--font-family-one);
    font-weight:400;
}
.section-1{
    width: 100%;
    height: auto;
    margin-top: 5em;
}
.primary{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.primary-one{
    margin-top: 2em;
}
#text-apoio{
    color: white;
    font-family: var(--font-family-two);
    font-size:18px;
    font-weight:300;
    text-transform: uppercase;
}
#texto-title{
    color:white;
    font-family: var(--font-family-one);
    font-size:2em;
    font-weight:700;
}
.primary-one>button{
    padding-left: 30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom: 20px;
    color: white;
    background-color: #4c023a;
    border: 0px solid;
    border-radius: 20px;
    font-family: var(--font-family-two);
    font-size: 1em;
    transition: 250ms ease-in-out;
}
.primary-one>button:hover{
    background-color:#450134 ;
    box-shadow: 0px 10px 10px -10px black;
}
.secondary-one>img{
    width: 200px;
}