/*menu mobile*/
@media al and (max-width: 390px){
    .menu{
        display: block;
    }
    .caixa{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .conteudo-1{
        color: var(--color-white);
        width: 100%;
    }
    .colunitas{
        display: flex;
        margin-top: 10vh;
        margin-bottom: 10vh;
        flex-direction: row;
        justify-content: center;
    }
    .colun{
        display: flex;
        flex-direction: row;
    }
    }
    /* ###Media queries##*/
    @media screen and ( max-width: 1024px ) {
        .container {
            width: var(--container-width-md);
        }
        section {
            margin-top: 6rem;
        }
    }
    
    /*########## -- Resposividade (mobile) -- ############*/
    @media screen and ( max-width: 390px ) {
        .container{
            margin-top:20em;
            
        }
    
        .flex-container-1{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            background-image: transparent;
            margin: 1em;
            height: 50px;
            padding-bottom: 50px;
            margin-bottom: 50px;
        }
        .flex-item > p,
    .flex-item > h1{
       margin-left: 20px;
       padding-left: 0;
       padding-right: 0;
       font-family: 'Montserrat', sans-serif;
       color: var(--color-white);
       margin-bottom: 50px;
       padding-bottom: 50px;
    }
    .navbar{
        width: 100%;
        flex-direction: column;
        position: relative;
    }
    
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .menu:hover > .menu-line{
       background-color: #F07241;
       border-radius: 10px;
    }
    .nav-lista{
        flex-direction: column;
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-right: 0px;
    }
    ul .nav-lista{
        padding-right: 0;
    }
    .lista{
        padding: 10px;
    }
    a:hover{
        color: #F07241;
    }
    .nav-lista .lista{
        width: 100%;
        padding-right: 0px;
        border: 0.3px solid rgba(255, 255, 255, 0.11);
        background-color: #300030;
    }
    .icon-primeiro{
        margin-top: 10px;
        margin-left: 0px;
    }
    .caixa{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .conteudo-1{
        color: var(--color-white);
        width: 100%;
    }
    .colunitas{
        display: flex;
        margin-top: 10vh;
        margin-bottom: 10vh;
        flex-direction: row;
    }
    .colun{
        display: flex;
        flex-direction: row;
    }
    
    }